:root {
  --color1: #000080;
  --color2: #eeede7;
  --color3: #868b8e;
  --border: var(--color1) solid 6px;
}

* {
  color: var(--color2);
  font-family: "Roboto Slab", serif;
}

body {
  background: linear-gradient(-45deg, #f8f8f8, #0a0a0a, #151b52, #620909);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header > li {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}

nav.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav > ul {
  list-style-type: none;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  width: 100%;
  min-height: 8em;
}
.header {
  font-size: 1.5em;
}

.header > li a {
  color: white;
  text-align: right;
  text-decoration: underline;
  position: relative;
  right: 20%;
}

.header > li a:hover:not(.active) {
  background-color: red;
}

.name {
  position: relative;
  right: 10%;
}
h1 {
  text-align: center;
  color: black;
  background-color: var(--color3);
  border: solid black 2px;

  width: 30%;
}

.FullStack {
  background-image: url(https://images.unsplash.com/photo-1580584126903-c17d41830450?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2137&q=80);
  color: var(--color2);
  width: 100%;
  min-height: 4em;
  position: relative;
  text-align: center;
  font-size: 3em;
}
.Technologies {
  display: flex;
  justify-content: center;
}
#project1 {
  width: 100%;
}
.caption {
  width: 100%;
}

.headers {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: var(--color2);
  text-align: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.last {
  position: relative;
  top: 4em;
  left: 10em;
  text-align: center;
}
