:root {
  --color1: #000080;
  --color2: #eeede7;
  --color3: #868b8e;
  --border: var(--color1) solid 6px;
}

* {
  color: var(--color2);
  font-family: "Roboto Slab", serif;
}

body {
  background: linear-gradient(-45deg, #000000, #10451d, #151b52, #ff9d9d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  display: flex;
  justify-content: space-evenly;
}

.header > li {
  list-style-type: none;
}

nav.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* nav > ul {
  list-style-type: none;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  width: 100%;
  min-height: 8em;
} */
.header {
  font-size: 1.5em;
}

.header > li a {
  color: white;
  text-align: right;
  text-decoration: underline;
  position: relative;
  right: 20%;
}

.header > li a:hover:not(.active) {
  background-color: red;
}

.name {
  position: relative;
  right: 10%;
}

.FullStack {
  background-image: url(https://c1.wallpaperflare.com/preview/906/1/293/programming-code-development-web.jpg);
  color: var(--color2);
  width: 100%;
  min-height: 4em;
  position: relative;
  text-align: center;
  font-size: 3em;
  background-color: #212529;
}

.FullStack > h2 {
  border: black solid 5px;
  width: 25%;
  display: block;
  margin: auto;
  background-color: black;
}
.Technologies {
  width: 40%;
  display: block;
  justify-self: center;
  margin: auto;
  border: #434343 groove 4px;
  background-color: #212529;
  border-radius: 10px;
  padding: 4px;
  box-shadow: 30px 15px 15px #00000091;
}
#project1 {
  width: 100%;
}
.caption {
  width: 100%;
  color: black;
  font-weight: bolder;
  padding-left: 4px;
}
.headers {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  /* color: var(--color2); */
  text-align: center;
  width: 53%;
  margin-bottom: 1.5rem;
  box-shadow: 15px 10px 10px #00000091;
  border-radius: 5px;
  display: block;
  justify-items: center;
  margin: auto;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.projects {
  box-shadow: 15px 5px 5px 5px #00000091;
  border: rgba(39, 39, 39, 0.493) groove 5px;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.projects:hover {
  background-color: rgba(255, 255, 255, 0.808);
  font-size: 1.5em;
}

.last {
  position: relative;
  top: 4em;
  left: 10em;
  text-align: center;
}
.contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
}
