:root {
  --backgroundImage: linear-gradient(to right, #434343 0%, black 100%);
  --color2: #eeede7;
  --color3: #868b8e;
  --border: rgb(58, 57, 57) medium 5px;
}

* {
  color: var(--color2);
  font-family: "Prompt", sans-serif;
}

body {
  background: linear-gradient(-50deg, #000000, #10451d, #151b52, #ff9d9d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  display: flex;
  justify-content: space-evenly;
}

.header > li {
  list-style-type: none;
}

nav.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* nav > ul {
  list-style-type: none;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  width: 100%;
  min-height: 8em;
} */
.header {
  font-size: 1.5em;
}

.header > li a {
  color: white;
  text-align: right;
  text-decoration: underline;
  position: relative;
  right: 20%;
}

.header > li a:hover:not(.active) {
  background-color: red;
}

.name {
  position: relative;
  right: 10%;
}

.FullStack {
  display: flex;
  justify-content: center;
  margin: auto;
}
.FullStack > h2 {
  background: linear-gradient(-45deg, #621db1, #b020f35d, #151b52, #10451d);
  background-size: 400% 400%;
  animation: pulse 7s infinite;
  text-align: center;
  height: 100%;
  min-width: 50%;
  box-shadow: 30px 15px 15px #00000091;
  border-radius: 5px;
  margin-top: 0.5em;
  padding: 13px;
}
@keyframes pulse {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.aboutMe {
  text-align: center;
  justify-content: center;
  margin: auto;
  max-width: 55%;
  min-width: 70%;
  border: #434343 medium 4px;
  background-image: var(--backgroundImage);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 30px 15px 15px #00000091;
}
.aboutMe > p {
  font-size: 1.3em;
}

.Technologies {
  max-width: 70%;
  justify-self: center;
  margin: auto;
  border: #434343 medium 4px;
  background-image: var(--backgroundImage);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 30px 15px 15px #00000091;
}
#project1 {
  width: 100%;
}
.caption {
  width: 100%;
  color: black;
  font-weight: bolder;
  padding-left: 4px;
}
.headers {
  background-image: var(--backgroundImage);
  /* color: var(--color2); */
  text-align: center;
  max-width: 88%;
  margin-bottom: 1.5rem;
  box-shadow: 30px 15px 15px #00000091;
  border-radius: 5px;
  border: var(--border);
  justify-items: center;
  margin: auto;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  font-family: "Prompt", sans-serif;
  padding: 13px;
}

.projects {
  box-shadow: 15px 5px 5px 5px #00000091;
  border: rgba(39, 39, 39, 0.493) solid 5px;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.projects:hover {
  background-color: rgba(255, 255, 255, 0.808);
  font-size: 1.2em;
}
.form-control,
.btn {
  box-shadow: 30px 15px 15px #00000091;
}

.last {
  position: relative;
  top: 4em;
  left: 10em;
  text-align: center;
}
.contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--backgroundImage);
  margin-top: -1em;
  padding: 1.5em;
}
