:root {
  --backgroundImage: linear-gradient(to right, #434343 0%, black 100%);
  --color2: #eeede7;
  --color3: #868b8e;
  --border: rgb(58, 57, 57) medium 5px;
}

* {
  color: var(--color2);
  font-family: "Prompt", sans-serif, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body {
  height: 100%;
  background-color: #495057;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.header > li {
  list-style-type: none;
}

nav.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header {
  font-size: 1.5em;
}

.header > li a {
  color: white;
  text-align: right;
  text-decoration: underline;
  position: relative;
  right: 20%;
}

.header > li a:hover:not(.active) {
  background-color: red;
}

.name {
  position: relative;
  right: 10%;
}

.FullStack {
  display: flex;
  justify-content: center;
  margin: auto;
}
.FullStack > h2 {
  background: linear-gradient(90deg, #621db1, #b020f3, #621db1, #b020f3);
  background: linear-gradient(90deg, #621db1, #b020f3, #621db1, #b020f3);
  background-size: 600% 500%;
  animation: pulse 4s infinite;
  text-align: center;
  height: 100%;
  min-width: 50%;
  box-shadow: 0 0 10px 6px #b020f3;
  border-radius: 5px;
  margin-top: 1.2em;
  padding: 13px;
}
@keyframes pulse {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.aboutMe {
  text-align: center;
  justify-content: center;
  margin: auto;
  max-width: 55%;
  min-width: 70%;
  border: #434343 medium 4px;
  background-image: var(--backgroundImage);
  border-radius: 10px;
  padding: 2em;
  box-shadow: 30px 15px 15px #00000091;
}
.aboutMe > p {
  font-size: 1.3em;
}

.Technologies {
  max-width: 70%;
  justify-self: center;
  margin: auto;
  border: #434343 medium 4px;
  background-image: var(--backgroundImage);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 30px 15px 15px #00000091;
}

.Technologies > .col {
  border: black solid 4px;
  border-radius: 10px;
  font-weight: bolder;
}
#project1 {
  width: 100%;
}

figure.projects {
  min-height: 100%;
}
.caption {
  width: 100%;
  color: white;
  padding: 5px;
}
.headers {
  /* background-image: var(--backgroundImage); */
  background-color: #8f3737;
  /* color: var(--color2); */
  text-align: center;
  max-width: 45%;
  margin-bottom: 1.5rem;
  box-shadow: 30px 15px 15px #00000091;
  border-radius: 52% 48% 49% 51% / 45% 50% 51% 53%;
  border: var(--border);
  justify-items: center;
  margin: 2.5em auto;
  font-family: "Prompt", sans-serif;
  padding: 25px;
}

img.img-thumbnail {
  border-radius: 10px;
  background: none;
  max-width: 100%;
  border: none;
}

.projects {
  box-shadow: 7px 5px 5px 5px #00000091;
  border-radius: 20px 20px 20px 20px;
  background-image: var(--backgroundImage);
  color: black;
  display: block;
  justify-content: space-evenly;
  max-height: 100%;
  padding: 10px;
}
.projects:hover {
  background-image: rgba(255, 255, 255, 0.808);
  font-size: 1.2em;
  border-radius: 10px;
}

div.row {
  margin: 1.5em auto;
}

.form-control,
.btn {
  box-shadow: 30px 15px 15px #00000091;
}

.last {
  position: relative;
  top: 4em;
  left: 10em;
  text-align: center;
}
.contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--backgroundImage);
  margin-top: -1em;
  padding: 1.5em;
}

@media (max-width: 550px) {
  .Technologies {
    max-width: 90%;
    padding: 2rem;
    display: flex;
    justify-content: center;
  }

  .headers {
    max-width: 90%;
  }
}

@media (max-width: 370px) {
  .Technologies {
    padding: 0;
    text-align: center;
  }
  .aboutMe {
    max-width: 90%;
    font-size: 15px;
  }

  .projects {
    max-width: 100%;
    font-size: 15px;
    margin: 0;
  }
}

@media screen and (min-width: 650px) {
  .Technologies div.col {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 850px) {
  .Technologies div.col {
    font-size: 1.4em;
    margin: auto;
  }

  .Technologies {
    max-width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .aboutMe {
    font-size: 1.2em;
    max-width: 50%;
  }

  .Technologies div.col {
    font-size: 1.2em;
    margin: auto;
    text-align: center;
  }

  .Technologies {
    max-width: 35%;
  }

  .headers {
    max-width: 30%;
  }

  .container1 {
    max-width: 60%;
    max-height: 70%;
    display: block;
    justify-content: center;
    margin: auto;
  }
}
